<div class="input {{ className }}">
  {{#if label}}<label class="input__label">{{ label }}</label>{{/if}}
  <input type={{ type }} class="input__control" name={{ name }} placeholder={{ placeholder }}>
</div>